html, body {
	overflow-x: hidden;
  }

:root {
  --background-color-1: #ffdd67;
  --background-color-2: #444444;
  --font-color-1: #ffec9b;
  --font-color-2: #303030;
}

@font-face {
  font-family: TitleFont;
  src: url("../../Assets/Fonts/Blackout.ttf") format('truetype');
}

@font-face {
  font-family: SubTitleFont;
  src: url("../../Assets/Fonts/Intro.otf") format('truetype');
}

body
{
	font-family: 'Nunito Sans', sans-serif;
	background-size: cover;
	padding-top: 80px;
	padding-left: 0;
	padding-right: 0;

	color: var(--font-color-2);	
}

body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px var(--background-color-1);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
    background-color: var(--background-color-2); 
    background-image: -webkit-linear-gradient(45deg,
                                              rgba(255, 255, 255, .2) 25%,
                                              transparent 25%,
                                              transparent 50%,
                                              rgba(255, 255, 255, .2) 50%,
                                              rgba(255, 255, 255, .2) 75%,
                                              transparent 75%,
                                              transparent)
}

h1
{
	font-weight: 800;
	font-size: 60px;
	letter-spacing: 0.1em;
	font-family: TitleFont;
}

.navbarName {
	font-family: TitleFont;
}

h2
{
	font-weight: 300;
	font-size: 30px;
	font-family: SubTitleFont;
}

.navbarSections {
	font-family: SubTitleFont;
	color: var(--font-color-1);
}

.navbar
{
	background: var(--background-color-2);
	min-height: 80px;
	padding-top: 17px;
}

div>ul.navbar-right
{
	text-transform: uppercase;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0.04em;	
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav>li>a {
    color: var(--font-color-1);
}

.navbar-header>a
{
	padding-top: 10px;
    font-weight: 800;
    font-size: 2.8rem;
    letter-spacing: 0.1em;
}

#letterName
{
	font-size: 1.5em;
}

.thumbnail
{
	background: transparent;
	border: none;
	text-align: center;
}

.SubTitle
{
	font-weight: 300;
	font-size: 4rem;
}

p
{
	font-size: 15px;
}

#Home
{
	min-height: 95vh;
}

h1.TitleName
{
	margin-bottom: 0;
	font-size: 5rem;
	text-align: center;
}

#AboutTitle
{
	text-align: left;
}

#FirstTitle
{
	font-size: 8rem;
}

.thumbnail>h2
{
	font-size: 4rem;
}

hr.BlackTitleLine
{
	margin-top: 20px;
	margin-bottom: 50px;
	border: 2px solid var(--font-color-2);
	width: 60%;
}

hr.YellowTitleLine
{
	margin-top: 20px;
	margin-bottom: 50px;
	border: 2px solid var(--font-color-1);
	width: 60%;
}

#profilePicture
{
	padding: 0;
	border-radius: 50%;
	border: 10px solid var(--font-color-2);
	background: var(--background-color-2);
}

#project
{
    height: 100%;
    padding-bottom: 30px;
}

#projectPicture
{
	width:100%;
	height: 100%;
	border: 5px solid var(--font-color-1);
	background: var(--background-color-1);
	border-radius: 5%;
}


.YellowZone
{
	padding-top: 40px;
	padding-bottom: 40px;

	background: var(--background-color-1);
	color: var(--font-color-2);
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#projectPictures {
  display: flex;
  flex-wrap: wrap;
}

.BlackZone
{
	padding-top: 40px;
	padding-bottom: 40px;

	background: var(--background-color-2);
	color: var(--font-color-1);
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

p {
	font-size: 18px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.img-thumbnail {
	border-color: var(--font-color-2);
	background-color: var(--font-color-2);
}

.navbar-inverse .navbar-nav>.NavButton.active>a, 
.navbar-inverse .navbar-nav>.NavButton.active>a:focus, 
.navbar-inverse .navbar-nav>.NavButton.active>a:hover
{
    color: var(--font-color-2);
    background-color: var(--background-color-1);
}

.navbar-inverse .navbar-nav>.NavButton a:focus
{
	color: var(--font-color-1);
}

.logo
{
	color: var(--font-color-1);
}

.logo:hover
{
	background-color: var(--background-color-1);
	color: var(--font-color-2);
	border-radius: 5%;

	padding-right: 10px;
	padding-left: 10px;
}

.iconSpan
{
	text-align: center;
	font-size: 1rem;
}

.btn-success,
.btn-send.disabled:hover,
.btn-send.disabled:active:hover,
.btn-success:focus,
.btn-success:active,
.btn-success:active:hover {
    color: var(--font-color-2);
    background-color: var(--background-color-1);
    border-color: var(--font-color-1);
}

.btn-success:hover,
.btn-success:active:focus {
	color: var(--font-color-1);
    background-color: var(--background-color-2);
    border-color: var(--font-color-2);
}