html, body {
	overflow-x: hidden;
  }

:root {
  --background-color-1: #FFF5D6;
  --background-color-2: #1C1C1C;
  --font-color-1: #FFFFFF;
  --font-color-2: #000000;
}

@font-face {
  font-family: TitleFont;
  src: url("../../assets/fonts/Blackout.ttf") format('truetype');
}

@font-face {
  font-family: SubTitleFont;
  src: url("../../assets/fonts/Intro.otf") format('truetype');
}

.notfound .home-btn {
	color: var(--background-color-1);
	background: var(--background-color-2);
	font-size: 14px;

	font-family: 'SubTitleFont', sans-serif;
	display: inline-block;
	font-weight: 700;
	text-decoration: none;
	/*background-color: transparent;*/
	border: 2px solid transparent;
	text-transform: uppercase;
	padding: 13px 25px;
	font-size: 18px;
	border-radius: 40px;
	margin: 7px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.notfound .home-btn.inverted {
	color: var(--background-color-2);
	background: var(--background-color-1);
}

body {
	font-family: 'Nunito Sans', sans-serif;
	background-size: cover;
	padding-top: 80px;
	padding-left: 0;
	padding-right: 0;

	color: var(--font-color-2);	
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--background-color-1);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--background-color-2); 
    background-image: -webkit-linear-gradient(45deg,
                                              rgba(255, 255, 255, .2) 25%,
                                              transparent 25%,
                                              transparent 50%,
                                              rgba(255, 255, 255, .2) 50%,
                                              rgba(255, 255, 255, .2) 75%,
                                              transparent 75%,
                                              transparent)
}

h1 {
	font-weight: 800;
	font-size: 60px;
	letter-spacing: 0.1em;
	font-family: TitleFont;
}

.navbarName {
	font-family: TitleFont;
}

h2 {
	font-weight: 300;
	font-size: 30px;
	font-family: SubTitleFont;
}

.navbarSections {
	font-family: SubTitleFont;
	color: var(--font-color-1);
}

.navbar {
	background: var(--background-color-2);
	min-height: 80px;
	padding-top: 17px;
}

div>ul.navbar-right {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0.04em;	
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav>li>a {
    color: var(--font-color-1);
}

.navbar-header>a {
	padding-top: 10px;
    font-weight: 800;
    font-size: 2.8rem;
    letter-spacing: 0.1em;
}

#letterName {
	font-size: 1.5em;
}

.thumbnail {
	background: transparent;
	border: none;
	text-align: center;
}

.SubTitle {
	font-weight: 300;
	font-size: 4rem;
}

p {
	font-size: 15px;
}

#Home {
	min-height: 95vh;
}

h1.TitleName {
	margin-bottom: 0;
	font-size: 5rem;
	text-align: center;
}

#AboutTitle {
	text-align: left;
}

#FirstTitle {
	font-size: 8rem;
}

.thumbnail>h2 {
	font-size: 4rem;
}

hr.BlackTitleLine {
	margin-top: 20px;
	margin-bottom: 50px;
	border: 2px solid var(--font-color-2);
	width: 60%;
}

hr.YellowTitleLine {
	margin-top: 20px;
	margin-bottom: 50px;
	border: 2px solid var(--font-color-1);
	width: 60%;
}

#profilePicture {
	padding: 0;
	border-radius: 50%;
	border: 10px solid var(--font-color-2);
	background: var(--background-color-2);
}

.project {
    padding-bottom: 30px;
}

.projectPicture {
	width:100%;
	height: 100%;
	border: 5px solid var(--font-color-1);
	background: var(--background-color-1);
	border-radius: 5%;
	object-fit: cover;
}


.YellowZone {
	padding-top: 40px;
	padding-bottom: 40px;

	background: var(--background-color-1);
	color: var(--font-color-2);
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#projectPictures {
  display: flex;
  flex-wrap: wrap;
}

.BlackZone {
	padding-top: 40px;
	padding-bottom: 40px;

	background: var(--background-color-2);
	color: var(--font-color-1);
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

p {
	font-size: 18px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.modal-header button.close {
	font-size: 40px;
	margin-top: -40px;
	color: var(--font-color-2)
}

#youtubeContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    left: 0;
}
#ytplayer {
    position: absolute;
    top: 0;
    left: 15%;
    width: 70%;
    height: 70%;
}

#ModalText {
	margin-top: -10%;
}

.img-thumbnail {
	border-color: var(--font-color-2);
	background-color: var(--font-color-2);
}

.navbar-inverse .navbar-nav>.NavButton.active>a, 
.navbar-inverse .navbar-nav>.NavButton.active>a:focus, 
.navbar-inverse .navbar-nav>.NavButton.active>a:hover {
    color: var(--font-color-2);
    background-color: var(--background-color-1);
}

.navbar-inverse .navbar-nav>.NavButton a:focus {
	color: var(--font-color-1);
}

.logo {
	color: var(--font-color-1);
}

.logo:hover {
	background-color: var(--background-color-1);
	color: var(--font-color-2);
	border-radius: 5%;

	padding-right: 10px;
	padding-left: 10px;
}

.iconSpan {
	text-align: center;
	font-size: 1rem;
}

.btn-success,
.btn-send.disabled:hover,
.btn-send.disabled:active:hover,
.btn-success:focus,
.btn-success:active,
.btn-success:active:hover {
    color: var(--font-color-2);
    background-color: var(--background-color-1);
    border-color: var(--font-color-1);
}

.btn-success:hover,
.btn-success:active:focus {
	color: var(--font-color-1);
    background-color: var(--background-color-2);
    border-color: var(--font-color-2);
}

.colorData>li {
	margin-left: 20px;
	margin-right: 20px;
}

/* SKILL BAR */

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#696969;
	height:35px;
	color: var(--font-color-1);
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar span {
	position:absolute;
	top:0;
	left:0;
	width:110px;
	font-weight:bold;
	font-size:13px;

	display:block;
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:var(--background-color-2);
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:var(--font-color-1);
}